body {
    background: #272327;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.heading {
    color: #bae8e8;
}

.row {
    width: 100%;
}


.btn {
    background: transparent;
    border: none;
}

.timer {
    color: #fff;
    text-align: center;
    height: 20rem;
    border: 5px solid #fff;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-play, 
.fa-redo {
    color: #e3f6f5;
    padding: 1rem;
    border-radius: 2rem;
}

.fa-play:hover, 
.fa-redo:hover {
    color: #bae8e8;
    border: 2px solid #bae8e8;
    transition: 0.3s ease;
}

.show_message {
    display: block;
    padding: 1rem 0;
    color: #272343;
    background: #e3f6f5;
    border-radius: 0.5rem;
    transition: 0.5s ease;
}